body{
 
    background-color: rgb(255, 231, 224);


}
h1{
    color: rgb(67, 4, 238);
    text-align: center;
    font-family: cursive;
    font-size: medium;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 50px;
    color: red;
    border: 10px solid blue;
    padding: 10px;
    margin:200px ;
}
a{
    color: chartreuse;
    margin: 200px ;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
}
button{
    background-color: aqua;
    font-size: 30px;
    color: brown;
    cursor: pointer;
}