body{
    color: rgb(197, 49, 22);
    font-style: italic;
    font-size: 60px;
    background-image: url("ghost.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    
}
a{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: inherit; */
    /* float: right; */
}